{% extends "main.html" %}
{% block body %}

  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 15%">
        <h4>Flask Shop</h4>
        <p>This placeholder template is based on <a href="http://www.getskeleton.com">Skeleton</a>.</p>
        <p>Please go to the <a href="{{ url_for('cart.cart_page') }}">Shopping Cart</a></p>
      </div>
    </div>
  </div>{% endblock body %}