<!DOCTYPE html>
<html lang="en">
<head>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
  window.onAmazonLoginReady = function() {
    amazon.Login.setClientId('{{ MERCHANT_ID }}');
  };
</script>

<script type='text/javascript'
src='https://static-na.payments-amazon.com/OffAmazonPayments/us/sandbox/js/Widgets.js'>
</script>

<meta name="viewport"
content="width=device-width,initial-scale=1.0, maximum-scale=1.0"/>
</head>
<body>
Address book?
<div id="addressBookWidgetDiv">
</div>

<script>
  new OffAmazonPayments.Widgets.AddressBook({
    sellerId: '{{ MERCHANT_ID }}',
    onOrderReferenceCreate: function(orderReference) {
      // Here is where you can grab the Order Reference ID.
      orderReference.getAmazonOrderReferenceId();
    },
    onAddressSelect: function(orderReference) {
      // Replace the following code with the action that you want
      // to perform after the address is selected. The
      // amazonOrderReferenceId can be used to retrieve the address
      // details by calling the GetOrderReferenceDetails operation.

      // If rendering the AddressBook and Wallet widgets
      // on the same page, you do not have to provide any additional
      // logic to load the Wallet widget after the AddressBook widget.

      // The Wallet widget will re-render itself on all subsequent
      // onAddressSelect events without any action from you.
      // We don't recommend that you explicitly refresh it.
    },
    design: {
      designMode: 'responsive'
    },
    onReady: function(orderReference) {
      // Enter code here that you want to be executed
      // when the address widget has been rendered.
    },

    onError: function(error) {
      // Your error handling code.
      // During development you can use the following
      // code to view error messages:
      // console.log(error.getErrorCode() + ': ' + error.getErrorMessage());
      // See "Handling Errors" for more information.
    }
  }).bind("addressBookWidgetDiv");
</script>
</body>
</html>